<div class="row">

	<div class="col-md-3">
		<h2>Routes:</h2>
    <div id="tree">
    </div>
    <script type="text/javascript">
      var tree = <%= raw @tree.to_json %>;
      $('#tree').treeview({ data: tree });
    </script>
	</div>
	<div class="col-md-9">
    <h1 id='name'>API NAME</h1>
    <p id='description'>DESCRIPTION</h1>
    <h2>Arguments: </h2>
    <table>
    	<tr>
    		<th>Name</th>
    		<th>Description</th>
    	</tr>
    	<tr>
    		<td>xxx</th>
    		<td>XXXXXXX</th>
    	</tr>
    </table>
	</div>
</div>
