<div class="row" ng-controller='ApidocController'>

	<div class="col-md-3">
		<h2>Routes:</h2>
    <h2>{{ hello }}</h2>
    <div id="tree">
    </div>
    <script type="text/javascript">
      var tree = <%= raw @tree.to_json %>;
      $('#tree').treeview({ data: tree });
    </script>
	</div>
	<div class="col-md-9 api-content">
    <h1 id='name'>API NAME</h1>
    <p id='path'>API PATH</h1>
    <p id='description'></p>
    <h2>arguments: </h2>
    <table id='arguments' class='table'>
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Type</th>
    			<th>Description</th>
    		</tr>
    	</thead>
      <tbody></tbody>
    </table>
	</div>
</div>
