<div class="row apidoc-page" ng-controller='ApidocController' ng-init="setData('<%= lina.data_path %>')">

	<div class="col-sm-3 col-lg-2 api-left-tree">
		<h4 class='apidoc-title'>APIDOC</h4>
    <abn-tree tree-data="my_data" tree-control="my_tree" on-select='showApi(branch)'></abn-tree>
	</div>
	<div class="col-sm-9 col-lg-10 api-contents ng-cloak">
    <ul class='list-unstyled'>
      <li class='api-content-wrapper' ng-repeat='api in currentApi'>
        <div class='path'>
          <span class='path-verb'> {{ api.verb }} </span>
          <span class='path-path'> {{ api.path }} </span>
        </div>
        <div class="name">{{ api.schema.name }}</div>
        <p class='description'>{{ api.schema.description }}</p>
        <h4 class='parameters-title'>Parameter</h4>
        <div class="table-wrapper">
          <json-schema schema='api.schema.params'></json-schema>
        </div><!-- .table-wrapper -->

        <h4 class='return-title'>Return</h4>
        <p class='description'>{{ api.schema.return.description }}</p>
        <div class="table-wrapper">
          <json-schema schema='api.schema.return'></json-schema>
        </div><!-- .table-wrapper -->
      </li>
    </ul>
	</div>
</div>
