<div class="row">

	<div class="col-md-3">
		<h2>Routes:</h2>
    <div id="tree">
    </div>
    <script type="text/javascript">
      var tree = <%= raw @tree.to_json %>;
      $('#tree').treeview({ data: tree });
    </script>
	</div>
	<div class="col-md-9">
    <h1>hello apidoc is launched!</h1>
    <ul>
      <% @api_controllors.each do |t|%>
        <li><%= t %></li>
        <ul>
          <li><%= debug t._actions %></li>
        </ul>
      <% end%>
    </ul>
	</div>
</div>
