.apidoc-page {
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  font-weight: 300;

  .apidoc-left-title {
    font-weight: 200;
    padding: 16px;
    margin: 0;
    border-bottom: 1px solid #eee;
    color: #999;
  }

  .apidoc-title {
    border-bottom: 1px solid #eee;
    margin: -10px -10px 10px -10px;
    padding: 16px;
    text-align: center;
    font-weight: 200;
    color: #999;

    .api-expand-handle {
      float: left;
      cursor: pointer;
    }
  }

  .api-content-wrapper {
    border-bottom: 4px solid #aaa;
    margin-bottom: 30px;
    padding-bottom: 10px;
    &:last-child {
      border: none;
    }
  }

  .more-info {
    white-space: pre;
  }

  .api-left-tree {
    float: left;
    width: 300px;
    height: 100%;
    overflow: auto;
    background: #FAFAFA;
    border-right: 1px solid #eee;
    padding: 0;
    font-size: 16px;
    .nav-pills > li > a {
      border-radius: 0;
      padding: 6px;
      white-space: nowrap;
    }

    &.expandedTree {
      display: none;
    }
  }

  .api-contents {
    margin-left: 300px;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    font-size: 20px;
    &.expandedTree {
      margin-left: 0;
    }
  }

  .path {
    font-size: 32px;
    padding: 0px 0 15px 0;
    .path-path {
      font-size: 28px;
    }
  }

  .name {
    margin-bottom: 15px;
  }

  .description {
    white-space: pre;
    color: #999;
    font-size: 85%;
  }

  .parameters-title, .return-title {
    margin-top: 28px;
    font-size: 28px;
    font-weight: 400;
  }

  .table-wrapper {
    background: #E8F4FF;
    padding: 10px;
    margin-bottom: 30px;
  }

  .table {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .table > thead > tr > th {
    border: none;
    font-weight: 400;
  }

  .table > tbody > tr > td {
    border: none;
  }

  .table > tbody > tr > td.description {
    font-size: 90%;
  }

  .left {
    display: inline-block;
    width: 200px;
  }

  .right {
    display: inline-block;
  }

  .sub-json-schema {
    font-size: 85%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #cdd;
    padding: 10px;
  }

  .blank {
    color: #aaa;
    margin-bottom: 0;
  }
}
